* {
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 8px solid gray;
}

.header .contacts p {
    padding-left: 10px;
    margin-top: 10px;
    border-left: 2px solid gray;
}

.body-content .p p {
    line-height: 2rem;
}

.footer .div1 .p2 p  {
    line-height: 2rem;
}

.footer .p4 p {
    line-height: 2rem;
}

.header .introduction .btn {
    background: grey;
    color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
    margin-top: 15px;
    border: none;
}

.header .introduction .btn a {
    color: whitesmoke;
    text-decoration: none;
}

.header .introduction .intro-p {
    line-height: 2rem;
}

.header .introduction .btn:hover {
    background-color: black;
    color: white;
}

.skills {
    display: grid;
    grid-template: 60px/20% 60% 20%;
}

.skills .work-place h2 span {
    font-size: medium;
}

.p-p {
    margin-top: 25px;
    margin-left: 20%;
}

.p-pp {
    margin-top: 25px;
    margin-left: 20%;
}

.li-p {
    margin-top: 25px;
    margin-left: 20%;
    list-style-type: circle;
}

.li-p a {
    color: black;
    text-decoration: none;
}

.li-p a:hover {
    color: darkslategray;
    text-decoration: underline;
}

.li-pp {
    margin-top: 25px;
    margin-left: 20%;
    list-style-type: circle;
}

.li-p li span {
    margin-left: 10px;
}

.education {
    display: grid;
    grid-template: 60px/20% 60% 20%;
}

.education .school span {
    font-size: medium;
}

.body-content {
    margin: 20px;
}

.footer {
    margin: 20px;
}

.copy-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-footer span {
    color: grey;
    margin-left: 5px;
}


.body-content .paragraph-div {
    display: none;
}

.footer .paragraph-div1 {
    display: none;
}

.footer .paragraph2 {
    display: none;
}


@media (max-width: 968px) {
    .header {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .body-content .paragraph-div {
        display: block;
    }

    .footer .paragraph-div1 {
        display: block;
    }

    .footer .paragraph2 {
        display: block;
    }

    .body-content .projects {
        margin: 20px;
    }

    .header .contacts p {
        line-height: 2rem;
    }

    .skills .location-year {
        display: none;
    }

    .skills .work-place {
        display: none;
    }

    .footer .education .school,
    .footer .education .location-year {
        display: none;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .skills .title,
    .education .title {
        border-bottom: 4px solid grey;
    }

    .education {
        display: flex;
        flex-direction: column;
    }

    .footer {
        border-bottom: 1px solid grey;
        ;
    }

    .p-p,
    .p-pp,
    .li-p,
    .li-pp {
        margin: 5px;
    }

}
